@page
@model LoginModel

@{
	ViewData["Title"] = "Login";
}


<main class="container">
	<div class="row flex-nowrap justify-content-center">
		<div class="col-md-4">
			<section>
				<h1>@ViewData["Title"]</h1>
				<form id="account" method="post">
					<p class="lead fs-4">Entrar utilizando uma conta local</p>
					<hr />
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3 lead fs-6">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email" class="form-label">E-mail</label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3 lead fs-6">
						<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password" class="form-label">Senha</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="checkbox mb-3 lead fs-6">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
					<div class="form-floating mb-3 lead fs-6">
						<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-secondary mb-3">Entrar</button>
						<div class="row flex-wrap justify-content-center align-content-center">
							<span>
								<a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
							</span>
							<span>
								<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastrar novo usuário</a>
							</span>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</main>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
