@page
@using System.Text.RegularExpressions
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = null;
}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Página temporária">
    <title>Fé entre Linhas</title>

    <!-- Bootstrap core CSS -->
    <link rel="preload stylesheet" as="style" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preload stylesheet" as="style" href="~/css/landing.css" asp-append-version="true" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21GNPWD3TR"></script>

</head>

<body class="d-flex h-100 text-center bg-dark main-banner light-text">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-center mb-0">
                    <span class="fs-2 text-roxborough">Fé </span>
                    <span class="text-slight fs-4">&nbsp;entre&nbsp;</span>
                    <span class="fs-2 text-roxborough">Linhas</span>
                </h3>
            </div>
        </header>

        <main class="px-3">
            <h1 class="text-roxborough fs-1 fw-bold">
                Um clube do livro cristão dedicado a desenvolver a fé através de literatura inspiradora.
            </h1>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary btn-lg m-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                Quero me Inscrever
            </button>

            <!-- Modal -->
            <div class="modal fade dark-text" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2">Seja Convidado para nosso grupo exclusivo no WhatsApp</h1>
                            <button id="btn-modal-close" type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>

                        <div class="modal-body p-5 pt-0">
                            <form id="formulario" onsubmit="return cadastrarInteressado(event)">
                                <div class="form-floating mb-3">
                                    <input name="entry.478680486" type="text" class="form-control rounded-3"
                                           id="form-username" placeholder="Nome Completo" required>
                                    <label for="form-username">Nome Completo</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="entry.988195862" type="email" class="form-control rounded-3"
                                           id="form-email" placeholder="exemplo@email.com"
                                           pattern='@Model.EmailPattern' required
                                           title="exemplo@email.com">
                                    <label for="form-email">E-mail</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="entry.576524440" type="text" class="form-control rounded-3"
                                           id="form-cellphone" pattern="^\((\d{2})\) ?((\d{5})-(\d{4})|(\d{9}))$" required
                                           title="(31)9XXXX-XXXX" placeholder="(31)9XXXX-XXXX">
                                    <label for="form-cellphone">Telefone</label>
                                </div>
                                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success" type="submit">
                                    Inscrever-me
                                </button>
                            </form>

                            <small class="text-body-secondary mt-2">
                                Clicando em 'Inscrever-me' você concorda em receber
                                um link convite via whatsapp para participar das reuniões.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-5 container text-white-50">
                <p class="lead">
                    Estamos nos preparando para oferecer a você a melhor experiência de leitura e comunidade, por
                    isso, nosso site ainda não está disponível.
                </p>
                <p class="lead">
                    Mas não se preocupe! A partir de <strong class="fw-bold">20 de Julho de 2024</strong>, as portas do
                    Fé entre Linhas
                    se abrirão para você
                    embarcar em uma jornada enriquecedora e transformadora.
                </p>
            </div>
            <div class="position-fixed bottom-0 end-0 p-4">
                <div id="liveToast" class="toast align-items-center border-0" role="alert" aria-live="assertive"
                     aria-atomic="true">
                    <div class="d-flex info">
                        <div id="toast-body" class="toast-body">
                            <!--Mensagem auto injetada via Javascript-->
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <span class="fs-6 lead">
                &copy; 2024 - Clube do Livro - <span class="fs-6 text-roxborough">Fé </span><span class="text-slight">&nbsp;entre&nbsp;</span><span class="fs-6 text-roxborough">Linhas</span> |
                Desenvolvido por <a href="mailto:rochajario@gmail.com" target="_blank">Jario Rocha</a>.
            </span>
        </footer>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function cadastrarInteressado(event) {
            event.preventDefault();
            const url = 'https://docs.google.com/forms/u/0/d/e/1FAIpQLSdlWA-pOl_eIXJlJQYSsdaH2omxpggbb10nLBB4s1SeKwTrfw/formResponse';
            const data = new FormData(document.getElementById('formulario'));

            fetch(url, {
                method: 'POST',
                mode: "no-cors",
                body: data
            })
                .then(() => {
                    alert("Cadastro realizado com sucesso");
                })
                .catch(() => {
                    alert("Falha ao realizar cadastro");
                })
                .finally(() => {
                    closeModal();
                });
        }

        function closeModal() {
            document.getElementById('btn-modal-close').click();
        }

        function alert(message) {
            document.getElementById('toast-body').textContent = message;

            const toastLiveExample = document.getElementById('liveToast')
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastBootstrap.show();
        }

        function gtag() {
            dataLayer.push(arguments);
        }

        document.onload = () => {
            window.dataLayer = window.dataLayer || [];
            gtag('js', new Date());
            gtag('config', 'G-21GNPWD3TR');
        }
    </script>
</body>

</html>

